<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BODY MASK INDEX</title>
</head>
<body align="center">
  <h1>Hello!!!!</h1> 
  <h2><i>Stay Healthy,Stay Fit</i></h2>
  <h1>Calculate your Body Mask Index (BMI)</h1><br>
  
  <form action="/calculate_bmi" method="post" >
        <p>
            <label>Name(in Capital):   </label>
            <input type="text" name="Name" placeholder="        First    Middle    Last " required="" size="25"><br><br>
            <label>Weight(in Kgs):   </label>
            <input type="number" Step="0.01" name="Weight" placeholder="in Kgs" required="" size="12"><br><br>
            <label>Height(in Meters):   </label>
            <input type="number" Step="0.01" name="Height" placeholder="in Meters" required="" size="12"><br><br>
            <button>CALCULATE</button>
            <input type=reset value="Reset">
        </p>
        
</body>
</html>